body{
    margin: 0;
}
h4{
    padding: 4px;
}
img{
    display: none;
}
#current{
    padding: 7px;
    line-height: 1.3rem;
}
header {
    width: 100%;
    background-color: #093145;
    color: whitesmoke;
    text-align: center;
    line-height: 4rem;
    font-size: 2rem;
}
main{
    display: flex;
}
aside{
    padding: 20px;
    clear: both;
    float: left;
    width: 25%;
    height: 100%;
    background-color: lightblue;
    text-align: center;
    line-height: 2;
}
input{
    max-width: 100%;
    padding: 1px;
}
button{
    margin: 4px;
    padding: 1.5px;
    background-color: #093145;
    color: whitesmoke;
}
.prevSearchBtn{
    width: 100%;
}
#results {
    width: 70%;
    display: inline-block;
    margin: 5px;
}
.forecast{
  margin: 8px;
}
#current{
    border: 1px solid black;
    min-height: 100px;
}
.fivedayfore{
    display: inline-block;
    width: 17%;
    min-height: 200px;
    margin: 1%;
    object-fit: cover;
    background-color: #093145;
    text-align: center;
    color: whitesmoke;
    line-height: 1.2rem;
    padding: 2px;
}
#day1{
    margin-left: 0;
}